{% extends 'main.html' %}
{% load humanize %}

{% block content %}
    <section>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 col-md-8">
                    {#                    <h2 class="text-center">ТРИПАНАЦЕЯ</h2>#}
                    <blockquote class="blockquote text-center mt-5">
                        <p class="mb-0"><b>Спасибо!</b></p>
                        <p class="mb-0">Твой ответ принят!</p>
                        <footer class="blockquote-footer">{{ target.get_full_name }}</footer>
                    </blockquote>
                    <div class="text-center">
                        <a href="{% url 'core:index' %}">вернуться на главную</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-4 col-md-6">
                    <p class="text-center"><a target="_blank" href="https://vk.com/imirata" class="btn btn-link">Make
                        Sense | Блог Миры Таналиевой</a></p>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-4 col-md-6">
                    <p class="text-center"><a target="_blank" href="https://hardqode.com" class="btn btn-link">Это мы
                        делаем такие штуки</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block page_js %}

{% endblock %}