{% load static %}
{% load staticfiles %}
{% load humanize %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Albert B @hardqode">

    <title>{% block page_title %}Узнай, что о тебе думают{% endblock %}</title>
    <meta name="description" content="{% block page_description %}Всего 3 вопроса{% endblock %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    {#    <link href="{% static 'core/css/main.css' %}" rel="stylesheet">#}

    {#    <link rel="shortcut icon" href="{% static 'core/img/favicon.ico' %}" type="image/x-icon">#}
    {#    <link rel="icon" href="{% static 'core/img/favicon.ico' %}" type="image/x-icon">#}

    {% block page_css %}
    {% endblock %}
</head>
<body>
{% block content %}
    {% if user.is_anonymous %}
        <section>
            <div class="container pt-5">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-4 col-md-6">
                        <form method="post" action="{% url 'account_signup' %}">
                            <h3 class="text-center pb-4">Хочешь узнать, что о тебе думают?</h3>
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" style="width: 100px">Имя</div>
                                    </div>
                                    <input type="text" name="first_name" class="form-control"
                                           placeholder="Альберт" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" style="width: 100px">Фамилия</div>
                                    </div>
                                    <input type="text" name="last_name" class="form-control"
                                           placeholder="Баширов">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" style="width: 100px">Телефон</div>
                                    </div>
                                    <input type="tel" name="phone" class="form-control"
                                           placeholder="+7 (917) 892 9939" data-inputmask="'mask': '+7 (999) 999 9999'"
                                           autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off"
                                           required>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" style="width: 100px">Email</div>
                                    </div>
                                    <input type="email" name="email" class="form-control"
                                           placeholder="the@hardqode.com" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" style="width: 100px">Пароль</div>
                                    </div>
                                    <input type="password" name="password1" class="form-control"
                                           placeholder="********" pattern=".{6,}" aria-describedby="passwordHelp"
                                           required>
                                </div>
                                <small id="passwordHelp" class="form-text text-muted">Минимальное количество
                                    символов - 6
                                </small>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-block btn-outline-secondary mt-4 mb-2">Принять
                                    участие
                                </button>
                                <p class="small">Или <a href="{% url 'account_login' %}">войдите</a>, если у вас уже
                                    есть аккаунт</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <section>
            <div class="container pt-5 pb-5">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-4 col-md-6 text-center">
                        <h3 class="text-center pb-4">Ваша персональная ссылка для сбора ответов:</h3>
                        {#                        <input type="url" value="{% url 'core:answer-get' user.id %}">#}
                        <div class="input-group">

                            <input type="text" class="form-control" id="id_link"
                                   placeholder="Ссылка" aria-describedby="inputGroupPrepend2"
                                   value="test.brandmira.ru{% url 'core:answer-get' user.id %}" readonly>
                            <div class="input-group-addon">
                                <button onclick="CopyToClipboard('id_link')" href="{% url 'core:answer-get' user.id %}" class="input-group-text"
                                   id="inputGroupPrepend2" style="text-decoration: none">Скопировать</button>
                            </div>
                        </div>
                        <a href="{% url 'core:results' %}" class="btn btn-block btn-outline-secondary mt-4 mb-2">Просмотреть
                            ответы</a>
                    </div>
                </div>
            </div>
        </section>
        {#        {% include 'core/include/results.html' %}#}
    {% endif %}
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-4 col-md-6">
                    <p class="text-center"><a target="_blank" href="https://vk.com/imirata" class="btn btn-link">Make
                        Sense | Блог Миры Таналиевой</a></p>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-4 col-md-6">
                    <p class="text-center"><a target="_blank" href="https://hardqode.com" class="btn btn-link">Это мы делаем такие штуки</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="{% static 'core/js/jquery.inputmask.bundle.js' %}"></script>
<script>
    function getCSRF() {
        return $('input[name="csrfmiddlewaretoken"]').val();
    }

    $('#id_logout').on('click', function () {
        $('#form_logout').submit();
        return false;
    });

    $("input[data-inputmask]").inputmask();

    function CopyToClipboard(containerid) {
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select().createTextRange();
            document.execCommand("Copy");

        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().addRange(range);
            document.execCommand("Copy");
            alert("Ссылка скопирована");
            /*$('#id_link').tooltip({
                'placement': 'bottom',
                'title': 'Ссылка скопирована'
            })*/
        }
    }

    /*$("#id_link").on('click', function () {
        CopyToClipboard('id_link');
    })*/
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter50278891 = new Ya.Metrika2({
                    id:50278891,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50278891" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

{% block page_js %}

{% endblock %}
</body>
</html>